<div class="authorization">
    <h2>Авторизация</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small>Email is required</small></p>
        </mat-form-field>

        <div class="example-container">
            <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small>Password is required: не менее 8 символов, хотя бы одна заглавная английская буква, Хотя бы одна строчная английская буква, хотя бы одна цифру, хотя бы один специальный символ.</small></p>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        </div>

        <section>
            <div class="example-button-row">
            <button [disabled]="loginForm.invalid" mat-button color="primary">Войти</button>
            </div>
        </section>

    </form>

</div>
