<div class="authorization">
    <h2>Авторизация</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="login" matInput>
        </mat-form-field>
    
        <div class="example-container">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <p *ngIf="flag" style="color: red;"><small>Не верный пароль или логин</small></p>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    
        <section>
            <div class="example-button-row">
                <button [disabled]="loginForm.invalid" mat-button color="primary">Войти</button>
            </div>
        </section>
    </form>
    

</div>
