<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="header">
  <div class="container">

    <div class="heder_logo">
      <span class="material-symbols-outlined icon_header">favorite</span>
      <p class="name_organization">Муниципальное бюджетное образовательное учреждение дополнительного образования "Центр дополнительного образования" города Искитима Новосибирской области</p>
    </div>

    <div class="header_contact_addr">
        <p></p>
    </div>

  </div>
</div>

