.header {
    z-index: 999;
    position: absolute;
    background-color: #F1F5F8;
    height: 100px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heder_logo {
    display: flex;
    align-items: center;
}

.header_search {
    display: flex;
    margin-top: 10px;
}

.name_organization {
    width: 500px;
}

.material-symbols-outlined {
    color: #2B3D4F;
    margin-right: 30px;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}