<div class="container">

    <div class="block_program">

        <mat-list>
            <h2 class="header_program_1">Программа «Экономист»</h2>
            <mat-divider></mat-divider>
        </mat-list>

        <div class="program_1_info">
            <div>
                <p><strong>Возраст:</strong> от 12 до 17 лет</p>
                <p><strong>План приема:</strong> до 15 детей</p>
                <p><strong>Форма обучения:</strong> очная</p>
                <p><strong>Оплата сертификатом:</strong> Да</p>
                <p><strong>ОВЗ:</strong> Нет</p>
                <p><strong>Адрес:</strong><br>Новосибирская обл., г. Искитим,<br>ул. Комсомольская, д. 32</p>
                <p><strong>Муниципалитет:</strong><a href="https://navigator.edu54.ru/directivities?municipality=3" target="_blank"><br>г. Искитим</a></p>
                <p><strong>Все программы организатора:</strong><a href="https://navigator.edu54.ru/directivities?organizer=192" target="_blank"><br>Центр дополнительного образования<br>г.Искитима</a></p>
                <p><strong>Контакты организации:</strong><br>+7 (383) 432-03-34<br><a href="mailto:cdoisk&#64;mail.ru">cdoisk&#64;mail.ru</a><br><a href="https://cdoisk.edusite.ru/" target="_blank">https://cdoisk.edusite.ru/</a></p>

                <section>
                    <div class="example-button-row">
                      <a href="https://navigator.edu54.ru/program/1395-programma-ekonomist" target="_blank" mat-button color="primary">Узнать подробнее »</a>
                    </div>
                </section>

            </div>

            <div class="slide_img">
                <img src="/assets/images/news5.jpg">
            </div>
                     
        </div>

        <div class="program_1_info_description">
            <h3 class="description_header header_program_1">Описание</h3>
            <mat-list><mat-divider></mat-divider></mat-list>
            <p>Каждый современный человек задумывался над вопросом: «Для чего нужна экономика?», ведь её Величество окружает нас повсюду!<br><br>Программа "Экономист" поможет детям в этом вопросе, познакомит с экономическими понятиями и продемонстрирует их в действии, позволит обучающимся принимать жизненные ситуации не только как закономерное явление, но и учитывать факторы случайности и внезапности, научит анализу экономических ситуаций.<br><br>Кроме того, хорошая подготовленность обучающихся по данному курсу является залогом успешного участия в экономических соревнованиях и научно-практических конференциях различного уровня.<br><br>Отличительной особенностью программы является внедрение регионального компонента: изучаются особенности рынка труда, миграционные процессы, банковская система города Искитима и Новосибирской области и многое другое.<br><br></p>
        </div>

        <div style="height: 100px;"></div>

    </div>
</div>
