<div class="container">
  <div class="create_post">
    <h2>Создать пост</h2>

    <form [formGroup]="postForm" class="example-form">
      <mat-form-field style="width: 100%;">
        <mat-label>{{ currentDate }}</mat-label>
        <input
          formControlName="date"
          matInput
          [matDatepicker]="dp3"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dp3"
        ></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="true"></mat-datepicker>
      </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Заголовок</mat-label>
          <input formControlName="title" matInput placeholder=" " value=" " />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Введите текст поста</mat-label>
          <textarea
            formControlName="text"
            matInput
            placeholder=" "
            value=" "
          ></textarea>
        </mat-form-field>



        <input formControlName="loadImg" type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">{{fileName || "No file uploaded yet."}}
          <button style="width: 45px !important; height: 45px !important; margin-left: 20px;" mat-mini-fab color="primary" class="upload-btn"(click)="fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
        </div>

        <div class="progress">
          <mat-progress-bar class="progress-bar" mode="determinate"[value]="uploadProgress" *ngIf="uploadProgress"></mat-progress-bar>
          <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
        </div>




        <button mat-raised-button (click)="openDialog('0ms', '0ms')">Создать</button>

      </form>
  </div>
</div>
