<div class="container">
  <div class="create_post">
    <h2>Создать пост</h2>

    <form [formGroup]="postForm" class="example-form">
      <mat-form-field>
        <mat-label>{{ currentDate }}</mat-label>
        <input
          formControlName="date"
          matInput
          [matDatepicker]="dp3"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dp3"
        ></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="true"></mat-datepicker>
      </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Заголовок</mat-label>
          <input formControlName="title" matInput placeholder=" " value=" " />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Введите текст поста</mat-label>
          <textarea
            formControlName="text"
            matInput
            placeholder=" "
            value=" "
          ></textarea>
        </mat-form-field>
      </form>
  </div>
</div>
