<div class="container posts">

    <div class="delete_post">

        <form [formGroup]="searchForm" class="header_search">
            <mat-form-field>
              <mat-label>Поиск по сайту</mat-label>
              <input #searchInput (input)="searchPosts(searchInput.value)" formControlName="search" matInput>
            </mat-form-field>
          </form>

        <h2>Удалить пост</h2>

        <div class="news_post" *ngFor="let post of filteredPosts">

            <div class="news_data">
                <div>{{ post.created }}</div>
            </div>
    
            <div class="news_text">
                <div>{{ post.content }}</div>
            </div>
            
            <div class="images">
                <img class="img" *ngFor="let img of post.images" [src]="img.link">
            </div>
    
        </div>     
    </div>

    <!-- <div style="height: 100px;"></div> -->

</div>
