<div class="container map">
    <div class="map_yandex">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A79374651f02c84954f6fb0f27b70176929bfb045a7be5cd90bee11f7fe173f2c&amp;source=constructor" width="800" height="530" frameborder="0"></iframe>
    </div>

    <div class="info">
        <h2>Место нахождения образовательной организации</h2>
        <h3>Юридический адрес:</h3>
        <p>633209, Российская Федерация, Сибирский федеральный округ, Новосибирская обл., г. Искитим, ул. Коммунистическая, дом 59</p>

        <h2>Режим и график работы</h2>
        <h3>Режим работы:</h3>

        <h3 style="padding-top: 20px;">Режим работы Учреждения регламентируется следующими документами:</h3>
        <li style="padding-top: 20px;">положением о режиме занятий в организации</li>
        <li>годовым календарным учебным графиком</li>
        <li>учебным планом</li>
        <li>расписанием учебных занятий</li>
        <li>приказами директора Учреждения</li>
        <li>графиками работы педагогов-организаторов и методистов</li>

        <h3 style="padding-top: 20px;">График работы:</h3>
        <p class="p_work_schedule" style="padding-top: 20px;">Понедельник - пятница с 8.00 до 17.00</p>
        <p class="p_work_schedule">Перерыв для отдыха и питания с 12.00 до 13.00</p>
        <p class="p_work_schedule">Выходной суббота и воскресенье</p>

    </div>
</div>

<div class="contact">
    <div class="container block_help">
        <h2 class="help_h2">НУЖНА ПОМОЩЬ?</h2>
        <h3 class="help_h3">Свяжитесь с нами по телефону или e-mail. Мы обязательно поможем Вам.</h3>
        <div class="sub_block_help">

            <div class="email_help">
                <span class="material-symbols-outlined">mail</span>
                <p>email.domen.ru</p>
            </div>

            <div class="email_help">
                <span class="material-symbols-outlined">call</span>
                <p>+7(38343)202-03-34</p>
            </div>
            
        </div>

    </div>
</div>

<div class="block">
</div>