.main_page {
    height: 600px;
}

.main_page .container {
    display: flex;
    padding-top: 300px;
}

.main_page_heading {
    width: 80%;
}

.main_page_description {
    position: absolute;
    width: 600px;
    padding-top: 253px;
    padding-left: 1000px;
}

h1 {
    margin: 0;
}

p {
    color: #354A5F;
    font-size: 20px;
    font-weight: 300;
}

.example-button-row {
  padding-top: 70px;
}

.button {
  color: #F1F5F8 !important;
  background-color: #2B3D4F !important;
  font-weight: 400 !important;
  border-radius: 100px !important;
  height: 40px !important;
  transition: all 0.3s !important;
}

.button:hover {
  color: #2B3D4F !important;
  background-color: #D4E4E5 !important;
  box-shadow: 0px 5px 12px 0px #2B3D4F !important;
  font-weight: 400 !important;
  border-radius: 100px !important;
  transform: all;
}
  