<div class="main_page">
    <div class="container">
        
        <div class="main_page_heading">
            <h1>Открой свой потенциал вместе с нами</h1>
            <p>Присоединяйтесь к нам и начните свой путь к успеху уже сегодня!</p>

            <section>
                <div class="example-button-row">
                  <a [routerLink]="['/educational-programs']"><button mat-raised-button color="accent" class="button">Подробнее об образовательных курсах</button></a>
                </div>
            </section>

        </div>

        <div class="main_page_description">
            <h3>Специалисты центр дополнительного образования г. Искитима Центр информационных технологий предлагают вам найти общий язык с компьютерной техникой благодаря их программе. В начальных теоретических модулях они знакомят с правилами эксплуатации и основными компонентами ПК: системным блоком, монитором, наушниками, мышью, клавиатурой. Студенты учатся ориентироваться в ОС Windows, рабочем столе и панели задач; сохранять, искать, помещать в архив файлы и папки, копировать информацию на съёмный носитель; работать в стандартных редакторах; пользоваться браузером, искать информацию в интернете и в целом становятся более уверенными пользователями.</h3>

        </div>

    </div>
</div>