<div class="main_page">
    <div class="container">
        
        <div class="main_page_heading">
            <h1>Открой свой потенциал вместе с нами</h1>
            <p>Присоединяйтесь к нам и начните свой путь к успеху уже сегодня!</p>

            <section>
                <div class="example-button-row">
                  <a href="http://localhost:4200/educational-programs"><button mat-raised-button color="accent" class="button">Подробнее об образовательных курсах</button></a>
                </div>
            </section>

        </div>

        <div class="main_page_description">
            <h3>Мы предлагаем разнообразные образовательные программы, которые способствуют развитию вашего потенциала и достижению ваших целей. У нас вы найдете бакалавриат и магистратуру по различным специальностям, профессиональное обучение для повышения квалификации и онлайн курсы, доступные из любой точки мира. Присоединяйтесь к нашему образовательному сообществу и начните свой путь к успеху с нами уже сегодня!</h3>

        </div>

    </div>
</div>