<div class="container">

    <div class="blocks_info" style="margin: 0 !important;">
        <h2>Об образовательной организации</h2>
        <div class="info_texts">

            <div class="info_text">
                <p>Полное и сокращенное наименование образовательной организации:</p>
                <p>Муниципальное бюджетное образовательное учреждение дополнительного образования "Центр дополнительного образования" города Искитима Новосибирской области (МБОУ ДО ЦДО)</p>
            </div>

            <div class="info_text">
                <p>Дата создания образовательной организации:</p>
                <p style="padding-left: 57px;">19.10.2000</p>
            </div>

            <div class="info_text">
                <p>Тип образовательной организации:</p>
                <p style="padding-left: 143px;">учреждения дополнительного образования детей</p>
            </div>

        </div>
    </div>

    <div class="blocks_info">

        <h2 id="Контакты">Контакты</h2>
        <div class="info_texts">

            <div class="info_text">
                <p>Контактный телефон:</p>
                <a style="padding-left: 250px;">+7(38343) 2-03-34</a>
            </div>

            <div class="info_text">
                <p>Адрес электронной почты:</p>
                <a style="padding-left: 212px;">cdo_isk&#64;mail.ru</a>
            </div>

            <div class="info_text">
                <p>Адрес официального сайта:</p>
                <a style="padding-left: 204px;" href="https://cdoi.ru" target="_blank">https://cdoi.ru</a>
            </div>
        </div>

    </div>

    <div class="blocks_info">

        <h2>Противодействие коррупции</h2>

        <h2 class="header_block_corruption" id="Нормативные правовые и иные акты в сфере противодействия коррупции">Нормативные правовые и иные акты в сфере противодействия коррупции</h2>
        <div class="info_texts">
            <div *ngFor="let category of categories">
                <h3>{{ category.title }}</h3>
        
                <ng-container *ngIf="category.no_links; else linkBlock">
                    <p style="margin: 0; padding-top: 10px;">{{ category.no_links }}</p>
                </ng-container>
        
                <ng-template #linkBlock>
                    <div class="info_links">
                        <a *ngFor="let link of category.links">{{ link }}</a>
                    </div>
                </ng-template>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Антикоррупционная экспертиза">Антикоррупционная экспертиза</h2>
        <div class="info_links">
            <a href="https://regulation.gov.ru/" target="_blank">https://regulation.gov.ru/</a>
        </div>

        <h2 class="header_block_corruption" id="Методические материалы">Методические материалы</h2>
        <div class="info_texts">
            <h3>Методические материалы по вопросам противодействия коррупции</h3>
            <div class="info_links">
                <a href="https://mintrud.gov.ru/ministry/programms/anticorruption" target="_blank">Методические рекомендации, обзоры, разъяснения и иные документы, подготовленные Минтрудом России, размещенным на сайте Минтруда России</a>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Формы документов, связанных с противодействием коррупции, для заполнения">Формы документов, связанных с противодействием коррупции, для заполнения</h2>
        <div class="info_texts">
            <h3>Образцы форм документов, связанных с противодействием коррупции, для заполнения</h3>
            <div class="info_links" *ngFor="let form of link_form_doc">
                <a href="{{ form.link }}" target="_blank">{{ form.title }}</a>
            </div>

            <h3>Специальное программное обеспечение «Справки БК»</h3>
            <div class="info_links">
                <a href="http://www.kremlin.ru/structure/additional/12" target="_blank">Специальное программное обеспечение «Справки БК»</a>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера">Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера</h2>
        <div class="info_texts">
            <h3>Курдюмова Марина Исаметовна (Директор МБОУ ДО ЦДО) - 2022 год</h3>
            <div class="info_links">
                <a href="https://cdoi.ru/sveden/files/e6a7a09ee1ec8cdf8a55c44a749edf4e.pdf" target="_blank">Ссылка на размещённые сведения на стороннем сайте</a>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов (аттестационная комиссия)">Комиссия по соблюдению требований к служебному поведению и урегулированию конфликта интересов (аттестационная комиссия)</h2>
        <div class="info_texts">
            <h3>Сведения о состоявшихся заседаниях комиссии, принятых решениях</h3>
            <div class="info_links">
                <p>Заседания не проводились</p>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Обратная связь для сообщений о фактах коррупции">Обратная связь для сообщений о фактах коррупции</h2>
        <div class="info_texts">
            <h3>Нормативные правовые акты, регламентирующие порядок рассмотрения обращений граждан</h3>
            <div class="info_links">
                <a href="https://www.cdoi.ru/sveden/files/589da11a63363046704ebb7c8a6fdf05_0.pdf" target="_blank">Нормативный правовой акт, регламентирующий порядок рассмотрения обращений граждан</a>
            </div>

            <h3>Способы для граждан и юридических лиц беспрепятственно направлять свои обращения</h3>
            <div class="info_links">
    
                <div class="info_text">
                    <p>Электронная почта организации:</p>
                    <p style="padding-left: 100px;">cdo_isk&#64;mail.ru</p>
                </div>

                <div class="info_text">
                    <p>Телефоны:</p>
                    <p style="padding-left: 267px;">(383)432 46 12</p>
                </div>
            </div>
        </div>

        <h2 class="header_block_corruption" id="Информационные материалы">Информационные материалы</h2>
        <div class="info_texts">
            <h3>Информация о поступивших обращениях граждан</h3>
            <div class="info_links"><p>Обращений не поступало</p></div>
        </div>
        
    </div>

    <div class="blocks_info">

        <h2 id="Информационная безопасноть">Информационная безопасноть</h2>
        <div class="info_texts">
            <h2 class="header_block_corruption" id="Локальные нормативные акты в сфере обеспечения информационной безопасности обучающихся">Локальные нормативные акты в сфере обеспечения информационной безопасности обучающихся</h2>
            <div class="info_links">
                <p>Информация не опубликована</p>
            </div>

            <h2 class="header_block_corruption" id="Нормативное регулирование">Нормативное регулирование</h2>
            <div class="info_links">
                <h3>Нормативные правовые и иные акты в сфере информационной безопасности</h3>
                <div class="info_links p_links">
                    <p><a href="https://pravo.edusite.ru/FederalLaw-N-436.pdf" target="_blank">Федеральный закон от 29.12.2010 N 436-ФЗ</a> "О защите детей от информации, причиняющей вред их здоровью и развитию"</p>
                    <p><a href="https://pravo.edusite.ru/FederalLaw-27-07-2006-N-152.pdf" target="_blank">Федеральный закон от 27.07.2006 № 152-ФЗ</a> "О персональных данных"</p>
                    <p><a href="https://pravo.edusite.ru/FederalLaw-24-07-1998-N-124.pdf" target="_blank">Федеральный закон от 24.07.1998 № 124-ФЗ</a> "Об основных гарантиях прав ребенка в Российской Федерации"</p>
                    <p><a href="https://pravo.edusite.ru/GovernmentDecree-28-04-2023-N-1105p.pdf" target="_blank">Распоряжение Правительства от 28.04.2023 № 1105-р</a> "Об утверждении Концепции информационной безопасности детей в Российской Федерации и признании утратившим силу Распоряжения Правительства РФ от 02.12.2015 N 2471-р"</p>
                    <p><a href="https://pravo.edusite.ru/Letter-of-Ministry-Education-29-03-2019-N-03-393.pdf" target="_blank">Письмо Минпросвещения от 29.03.2019 № 03-393</a> "О методических рекомендациях"</p>
                    <p><a href="https://pravo.edusite.ru/Letter-of-Ministry-Education-14-05-2018-N-08-1184.pdf" target="_blank">Письмо Министерства образования и науки Российской Федерации от 14 мая 2018 г. N 08-1184</a> «Методические рекомендации о размещении на информационных стендах, официальных Интернет-сайтах и других информационных ресурсах общеобразовательных организаций и органов, осуществляющих управление в сфере образования, информации о безопасном поведении и использовании сети интернет»</p>
                    <p><a href="https://pravo.edusite.ru/Letter-of-Ministry-Education-2019-N04-474.pdf" target="_blank">Письмо Минпросвещения России от 07.06.2019 N 04-474</a> "О методических рекомендациях" (вместе с "Методическими рекомендациями по ограничению в образовательных организациях доступа обучающихся к видам информации, распространяемой посредством сети "Интернет", причиняющей вред здоровью и (или) развитию детей, а также не соответствующей задачам образования")</p>
                    <p><a href="https://pravo.edusite.ru/Letter-of-Ministry-Education-28-04-2014-NDL115_03.pdf" target="_blank">Письмо Минобрнауки России от 28.04.2014 N ДЛ-115/03</a> "О направлении методических материалов для обеспечения информационной безопасности детей при использовании ресурсов сети Интернет" (вместе с "Методическими рекомендациями по ограничению в образовательных организациях доступа обучающихся к видам информации, распространяемой посредством сети "Интернет", причиняющей вред здоровью и (или) развитию детей, а также не соответствующей задачам образования", "Рекомендациями по организации системы ограничения в образовательных организациях доступа обучающихся к видам информации, распространяемой посредством сети Интернет, причиняющей вред здоровью и (или) развитию детей, а также не соответствующей задачам образования").</p>
                    <p><a href="https://pravo.edusite.ru/Guidelines-16-05-2019.pdf" target="_blank">Методические рекомендации по ограничению в образовательных организациях доступа обучающихся к видам информации, распространяемой посредством сети "Интернет", причиняющей вред здоровью и (или) развитию детей, а также не соответствующей задачам образования</a> (утв. Министерством просвещения РФ, Министерством цифрового развития, связи и массовых коммуникаций РФ, Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций 16 мая 2019 г.)</p>
                </div>
            </div>

            <h2 class="header_block_corruption" id="Педагогическим работникам">Педагогическим работникам</h2>
            <div class="info_links">
                <div class="info_links p_links">
                    <a href="https://www.cdoi.ru/sveden/files/53359797ca3c63194acdaa5bfacc85d7.pdf" target="_blank">ПЕДАГОГИЧЕСКИМ РАБОТНИКАМ ОБ ИНФОРМАЦИОННОЙ БЕЗОПАСНОСТИ</a>
                </div>
            </div>

            <h2 class="header_block_corruption" id="Обучающимся">Обучающимся</h2>
            <div class="info_links">
                <h3>Памятка для обучающихся об информационной безопасности детей</h3>
                <div class="info_links p_links" *ngFor="let memo of memo_students">
                    <p class="header_name">{{ memo.title }}</p>
                    <div *ngFor="let text of memo.text"><li>{{ text }}</li></div>
                </div>

                <h3>Информационная памятка для обучающихся для размещения на официальных интернет-ресурсах</h3>
                <p>С каждым годом молодежи в интернете становиться больше, а школьники одни из самых активных пользователей Рунета. Между тем, помимо огромного количества возможностей, интернет несет и проблемы. Эта памятка должна помочь тебе безопасно находиться в сети.</p>
                <div class="info_links p_links" *ngFor="let title of Information_memo">
                    <p class="header_name">{{ title.title }}</p>
                    <div *ngFor="let text of title.text"><li>{{ text }}</li></div>
                </div>
            </div>

            <h2 class="header_block_corruption" id="Родителям">Родителям</h2>
            <div class="info_links">
                <h3>Памятка для родителей об информационной безопасности детей</h3>
                <p>Определение термина "информационная безопасность детей" содержится в Федеральном законе N 436-ФЗ "О защите детей от информации, причиняющей вред их здоровью и развитию", регулирующим отношения, связанные с защитой детей от информации, причиняющей вред их здоровью и (или) развитию. Согласно данному закону "информационная безопасность детей" - это состояние защищенности, при котором отсутствует риск, связанный с причинением информацией вреда их здоровью и (или) физическому, психическому, духовному, нравственному развитию.</p>
                <div class="info_links p_links" *ngFor="let title of reminder_parents">
                    <p class="header_name">{{ title.title }}</p>
                    <div *ngFor="let text of title.text"><li>{{ text }}</li></div>
                </div>
            </div>

            <h2 class="header_block_corruption" id="Детские безопасные сайты">Детские безопасные сайты</h2>
            <div class="info_links">
                <div class="info_links p_links">
                    <p>
                        <a href="https://pravo.edusite.ru/Order-of-the-Ministry-of-communication-29-08-2012-N-217.pdf" target="_blank">Приказ Министерства связи и массовых коммуникации Российской Федерации (Минкомсвязь России) от 29 августа 2012 г. N 217</a>
                        "Об утверждении порядка проведения экспертизы информационной продукции в целях обеспечения информационной безопасности детей".
                    </p>
                    <h3>Информация о детских безопасных сайтах</h3>
                    <a href="http://window.edu.ru/" target="_blank">Электронный каталог библиотеки учебной литературы онлайн</a>
                </div>
            </div>

        </div>

    </div>

    <div class="blocks_info">

        <h2 id="Организация питания в образовательной организации">Организация питания в образовательной организации</h2>
        <div class="info_texts">
            <h2 class="header_block_corruption" id="Условия питания обучающихся (воспитанников), в том числе для инвалидов и лиц с ограниченными возможностями здоровья">Условия питания обучающихся (воспитанников), в том числе для инвалидов и лиц с ограниченными возможностями здоровья</h2>
            <div class="info_links">
                <p>Питание в организации не предусмотрено.</p>
            </div>
        </div>
    </div>

    <div class="blocks_info">

        <h2 id="Рабочая программа воспитания">Рабочая программа воспитания</h2>
        <div class="info_texts">
            <h2 class="header_block_corruption" id="Документы">Программа воспитания</h2>
            <div class="info_links">
                <li><a href="https://cdoi.ru/sveden/files/97c5fe58c86d8e038ad9d7413a290e4c.pdf" target="_blank">Программа воспитания</a></li>
                <li><a href="https://cdoi.ru/sveden/files/af23f83763cbacce17de4a40779ea0c2.pdf" target="_blank">Приказ</a></li>
                <li><a href="https://docviewer.yandex.ru/?url=ya-browser%3A%2F%2F4DT1uXEPRrJRXlUFoewruOF_qtbgFdVhehS-AVf_P8KgedVzgvZyQadx-2eU9FIAsO2h1dFVfdT3PKrXhZaQOce5tg4PqdFgAPMr7Qk5qSm6vYytqQp35ORDI_hHFzZEuQVq7AGrf5Jtzoj5VxocEA%3D%3D%3Fsign%3DDT9Xp0E8gZE65grh9NptqeR7viDm5m05i_5ihO753NY%3D&name=91a348e7964cfe42891c0831c8371bdc.docx" target="_blank">План воспитательной работы</a></li>
                <li><a href="https://cdoi.ru/sveden/files/01b7448562cbe485df58aa2fadfefa09.pdf" target="_blank">План воспитательной работы(1)</a></li>
            </div>

            <h2 class="header_block_corruption" id="План воспитательной работы 2022-2023">План воспитательной работы 2022-2023</h2>
            <div class="info_links">
                <li><a href="https://docs.yandex.ru/docs/view?url=ya-browser%3A%2F%2F4DT1uXEPRrJRXlUFoewruL4aPEZG8eS_bRygHuaCF15RRItQ56NRkW83f-Bljwxt4KJhIwUWCV4nEkn3SYdWGZVV5Hfaoe7W4AMrD1nY9uVQqZTxtGDrV8aiQhg_KCh_AZ9XGLKI-4zIvPVWiQdrDg%3D%3D%3Fsign%3Dfokm8ODDUQAQkzWGqfMTi2iiEOEg1m2dgWbBa2OJ_SY%3D&name=3991e56221abb12cf7d210e58b519ca7.docx&nosw=1" target="_blank">План воспитательной работы 2022-2023</a></li>
            </div>

            <h2 class="header_block_corruption" id="План воспитательной работы 2022-2023">План воспитательной работы 2023-2024</h2>
            <div class="info_links">
                <li><a href="https://cdoi.ru/sveden/files/8fe6c9eb6075d69a632951348bb55577.pdf" target="_blank">План воспитательной работы 2023-2024</a></li>
            </div>
        </div>
    </div>

    <div class="blocks_info">

        <h2 id="Ссылки на официальные сайты">Ссылки на официальные сайты</h2>
        <div class="info_texts">
            <h2 class="header_block_corruption" id="Ссылки на официальные сайты системы образования">Ссылки на официальные сайты системы образования</h2>
            <div class="info_links">
                <a href="https://edu.gov.ru/" target="_blank">Министерство просвещения Российской Федерации</a>
                <a href="https://www.edu.ru/" target="_blank">Федеральный портал "Российское образование"</a>
                <a href="http://school-collection.edu.ru/" target="_blank">Единая коллекция цифровых образовательных ресурсов</a>
                <a href="http://uoiskitim.ru/news/objasnjaem_rf/2022-04-28-2384" target="_blank">Информационный портал «ОБЪЯСНЯЕМ»</a>
            </div>
        </div>
    </div>

    <div class="blocks_info">

        <h2 id="Охрана труда">Охрана труда</h2>
        <div class="info_texts">
            <div class="info_links">
                <a href="https://www.cdoi.ru/sveden/files/990ea3aebc2066b9fdebc95286f63371.pdf" target="_blank">Сводная ведомость</a>
            </div>
        </div>
    </div>

    <div class="blocks_info">

        <h2 id="Руководство">Руководство. Педагогический (научно-педагогический) состав</h2>
        <div class="info_texts" *ngFor="let guide of guides">
            <h3>{{ guide.title }}</h3>
            <div class="info_links" *ngFor="let name of guide.name; let i = index">

                <div class="header_name">
                    <h3 style="color: #F1F5F8; padding: 0;">{{ name }}</h3>
                </div>

                <div class="guides_block" style="display: flex; flex-direction: row;">
                    <div class="img_guides">
                        <div class="img_guide" style="width: 250px; height: 330px;" style="background-image: url('{{ guide.img[i] }}');"></div>
                    </div>

                    <div class="info_guides">
                        <div class="info_guide">
                            <p style="margin-bottom: 5px;"><strong>Должность:</strong> </p>
                            <p style="margin-top: 0;">{{ guide.post[i] }}</p>
                            <p><strong>Телефон:</strong> {{ guide.phone[i] }}</p>
                            <p><strong>Email:</strong> <a href="mailto:cdo_isk&#64;mail.ru"> cdo_isk&#64;mail.ru</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <h2 style="margin-top: 40px;">Персональный состав педагогических работников по уровням образования</h2>
        <div class="info_texts" *ngFor="let guide of guides_dop">
            <h3 style="padding-bottom: 30px;">{{ guide.title }}</h3>
            <div class="name_guides_dop">
                <a style="padding-bottom: 10px;" *ngFor="let name of guide.names">{{ name }}</a>
            </div>
        </div>
        

    
    </div>
    
    <div style="height: 250px;"></div>

</div>
