h2 {
    padding-top: 60px;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: #F1F5F8;
    font-weight: 400;
}

li {
    margin-top: 10px;
    margin-left: 40px;
    color: #F1F5F8;
    font-size: 20px;
}

.header_programs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.program_1 {
    background-image: url("/assets/images/programm1.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 !important;
    opacity: 90%;
    cursor: pointer;
}

.program_2 {
    background-image: url("/assets/images/programm2.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 !important;
    opacity: 90%;
    cursor: pointer;
}

.program_3 {
    background-image: url("/assets/images/programm3.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 !important;
    opacity: 90%;
    cursor: pointer;
}


.program_1:hover, .program_2:hover, .program_3:hover {
    background-color: #F1F5F8;
    background-image: none;
    h2 {
        color: #354A5F;
    }
    li {
        color: #354A5F;
    }
}


.programs {
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 70px;
}

.programs div {
    width: 34%;
}