<!-- <div class="header_programs">
    <h2>Программы</h2>
</div> -->

<div class="programs">
    <div class="program_1">
        <h2>Программа «Прикладная информатика»</h2>
        <li style="margin-top: 40px;">Возраст: от 9 до 11 лет</li>
        <li>План приема: до 12 детей</li>
        <li>Форма обучения: очная</li>
        <li>Оплата сертификатом: Да </li>
        <li>ОВЗ: Нет</li> 
        <li>Адрес: Новосибирская обл., г. Искитим, ул. Комсомольская, д. 32</li>
    </div>

    <div class="program_2">
        <h2>Программа «Экономист»</h2>
        <li style="margin-top: 90px;">Возраст: от 12 до 17 лет</li>
        <li>План приема: до 15 детей</li>
        <li>Форма обучения: очная</li>
        <li>Оплата сертификатом: Да </li>
        <li>ОВЗ: Нет</li> 
        <li>Адрес: Новосибирская обл., г. Искитим, ул. Комсомольская, д. 32</li>
    </div>

    <div class="program_3">
        <h2>Программа «Занимательная информатика»</h2>
        <li style="margin-top: 40px;">Возраст: от 7 до 10 лет</li>
        <li>План приема: до 15 детей</li>
        <li>Форма обучения: очная</li>
        <li>Оплата сертификатом: Да </li>
        <li>ОВЗ: Нет</li> 
        <li>Адрес: Новосибирская обл., г. Искитим, ул. Комсомольская, д. 32</li>
    </div>
</div>
