.admin_home {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.admin_buttons {
    font-size: 18px;
    margin: 10px;
    height: 50px !important;
    width: 40% !important;
    background-color: #F1F5F8 !important;
    color: #354A5F !important;
}